<div class="articleCard" data-id={{_id}}>
    <h2>{{headline}}</h2>
    <p>{{summary}}</p>
    <a href={{url}}>View on nytimes.com</a>
    <button class="commentBtn">Add a comment</button>

    <div class="commentBox card">
        <form class="card-body">
            Submit new comment:
            
            <input type="text" name="comment" id="">
            <button type="button" class="btn postCmntBtn">Post Comment</button>
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </form>
    </div>
</div>